<div class="container-fluid main">
    <div class="row">
        <div class="monitored">
            <div class="point"></div>
            <img src="../../assets/home/gas-station.png" alt="gas-station">
            <h3>2/3</h3>
            <p>Monitored <br> Staion</p>
        </div>

        <div class="last-update">
            <div class="point"></div>
            <img src="../../assets/home/WhatsApp Image 2023-10-28 at 12.19.50 AM.jpeg" alt="gas-station">
            <h3>20s</h3>
            <p>Monitored <br> Staion</p>
        </div>

        <nav class="nav-days">
            <ul class="">
                <li class="active"> <a>Today</a> </li>
                <li> <a>Yesterday</a> </li>
                <li> <a>Last Week</a> </li>
            </ul>
        </nav>
        
        <div class="start-date">
            <i class="icon fa-solid fa-play"></i>
            <div class="date">
                <input class="form-control" type="datetime-local" 
                placeholder="Start Date-Time">
            </div>
        </div>
        
        <div class="end-date me-4">
            <i class="icon fa-solid fa-square"></i>
            <div class="date">
                <input class="form-control" type="datetime-local" 
                placeholder="start date">
            </div>
        </div>
    </div>
</div>