.main {
  background: var(--light-color);
  top: 0px;
  left: 0px;
  height: 100px;
  display: flex;
  justify-content: end;
  align-items: center;
  .row {
    display: flex;
    .monitored,
    .last-update {
      * {
        padding: 0 10px !important;
        margin: 0 !important;
      }
      .point {
        width: 10px;
        height: 10px;
        background-color: var(--orange-color);
        border-radius: 50%;
        padding: 0 !important;
      }
      h3 {
        color: #3d5161;
        font: normal normal normal 32px/1 Roboto;
        padding-right: 0 !important;
        font-size: 25px;
        // letter-spacing: 6px;
      }
      p {
        font-size: 13px;
        letter-spacing: 15;
        color: #3d5161;
        line-height: 12px;
      }
    }
    .monitored {
      width: max-content;
      display: flex;
      justify-content: center;
      align-items: end;
    }
    .last-update {
      width: max-content;
      display: flex;
      justify-content: center;
      align-items: end;
    }

    .nav-days {
      width: max-content;
      display: flex;
      justify-content: center;
      padding: 1px;
      margin: 0 75px;
      border-radius: 25px;
      ul {
        list-style: none;
        text-decoration: none;
        border-radius: 25px;
        padding: 1px;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--bg-color);
        li {
          border-radius: 25px;
          padding: 2px 15px;
          color: #3d5161;
          a {
            cursor: pointer;
            text-decoration: none;
            font: normal normal bold 14px/18px Montserrat;
            letter-spacing: 1.4px;
            color: #3d5161;
            text-transform: uppercase;
            font-size: 14px;
          }
        }
        .active {
          background-color: var(--orange-color);
          a {
            color: var(--light-color) !important;
          }
        }
      }
    }

    .start-date,
    .end-date {
      width: max-content;
      display: flex;
      align-items: center;
      .icon {
        color: var(--orange-color);
        margin-right: 5px;
      }
      .date {
        input {
          cursor: pointer;
          color: #3d5161;
          font-size: 13px;
          border: none;
          position: relative;
          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 1px;
            background-color: #3d5161;
          }
        }
      }
    }
  }
}
