<div class="row">
    <div class="col-lg-3">
        <div class="item first">
            <div class="num">
                <h3>71,028</h3>
                <span class="align-self-center mb-1 egp">egp</span>
            </div>                        
            <p class="t-val">total value</p>
            <div class="percent">
                <i class="icon fa-solid fa-caret-down"></i>
                2%
            </div >
        </div>
    </div>
    <div class="col-lg-3">
        <div class="item second">
            <div class="num">
                <h3>20,000</h3>
                <sub>m</sub>
                <sup>3</sup>
            </div>                        
            <p class="t-val">total sales</p>
            <div  class="percent">
                <i class="icon fa-solid fa-caret-up"></i>    
                50
                <span>m</span>
                <sup>3</sup>
            </div >
        </div>
    </div>
    <div class="col-lg-3">
        <div class="item third">
            <div class="num">
                <h3>20,000</h3>
                <sub>m</sub>
                <sup>3</sup>
            </div>                        
            <p class="t-val">avg sales</p>
            <div  class="percent">
                <i class="icon fa-solid fa-caret-down"></i>  
                50
                <span>m</span>
                <sup>3</sup>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="item fourth">
            <div class="num">
                <h3>1567</h3>
            </div>                        
            <p class="t-val">total transaction count</p>
            <div class="percent">
                <i class="icon fa-solid fa-caret-up"></i>
                20
            </div>
        </div>
    </div>
</div>
