<div class="col-lg-12">
    <div class="content">
        <h3 class="title1">Hourly Sales</h3>

        <figure class="pie-chart">
            <figcaption>
                
            </figcaption>
            <svg viewBox="0 0 180 200" xmlns="http://www.w3.org/2000/svg">
                <path 
                stroke="#00CBC0"
                d="M800 243 L50 243"
                stroke-width="1"
                fill="#00CBC033" d="M41.9,-41.3C48.4,-35.4,43.7,-17.7,36.6,-7.1C29.5,3.4,19.9,6.9,13.4,20.5C6.9,34.2,3.4,58.1,-6.6,64.7C-16.7,71.3,-33.3,60.6,-39.1,47C-44.9,33.3,-39.8,16.7,-41.4,-1.6C-43,-19.9,-51.3,-39.8,-45.5,-45.7C-39.8,-51.7,-19.9,-43.7,-1.1,-42.6C17.7,-41.5,35.4,-47.3,41.9,-41.3Z" transform="translate(100 100)" />
            </svg>
            <svg viewBox="0 0 180 200" xmlns="http://www.w3.org/2000/svg">
                <path 
                stroke="#009ACF"
                d="M800 243 L50 243"
                stroke-width="1"               
                fill="#b9cde277" d="M8.9,-24.1C9.9,-7.9,8.1,-3.9,12.6,4.6C17.2,13,28.2,26.1,27.1,31C26.1,35.8,13,32.5,0.9,31.6C-11.3,30.8,-22.6,32.3,-37.9,27.5C-53.1,22.6,-72.3,11.3,-69.1,3.2C-65.9,-4.9,-40.2,-9.7,-25,-25.9C-9.7,-42.1,-4.9,-69.7,-0.5,-69.2C3.9,-68.7,7.9,-40.3,8.9,-24.1Z" transform="translate(100 100)" />
            </svg>
            <small class="t02">02:00</small>
            <small class="t04">04:00</small>
            <small class="t06">06:00</small>
            <small class="t08">08:00</small>
            <small class="t10">10:00</small>
            <small class="t12">12:00</small>
            <small class="t14">14:00</small>
            <small class="t16">16:00</small>
            <small class="t18">18:00</small>
            <small class="t20">20:00</small>
            <small class="t22">22:00</small>
            <small class="t24">24:00</small>
        </figure>

        
    </div>
</div>


<div class="col-lg-12">
    <div class="content">
        <h3 class="title2">Sales By Station</h3>

        <div class="item">
        <div class="left">
            <img src="../../assets/home/gas-station.png" alt="gas-station">
            <h4>Station Name</h4>
        </div>
        <p>62,721 <span>m <sup>3</sup></span></p>
        </div>
        <meter value="40" min="0" max="100"></meter>

        <div class="item">
        <div class="left">
            <img src="../../assets/home/gas-station.png" alt="gas-station">
            <h4>Station Name</h4>
        </div>
        <p>62,721 <span>m <sup>3</sup></span></p>
        </div>
        <meter value="40" min="0" max="100"></meter>

        <div class="item">
        <div class="left">
            <img src="../../assets/home/gas-station.png" alt="gas-station">
            <h4>Station Name</h4>
        </div>
        <p class="blu-p">NM</p>
        </div>
        <meter class="blu-meter" value="100" min="0" max="100"></meter>
    </div>
</div>