<div class="list-comp">
    <div class="item">
        <div class="title">
            <div class="left">
                <div class="point"></div>
                <img src="../../assets/listcomp/gas-station.png" alt="gas-station">
                <h3>station name dummy</h3>
            </div>
            <i class="icon fa-solid fa-ellipsis"></i>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="details">
                    <h6 class="val">total sales</h6>
                    <p class="det">62,721 <span>m <sup>3</sup></span></p>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="details">
                    <h6 class="val">compression state</h6>
                    <p class="det">compression</p>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="details">
                    <h6 class="val">max-transaction/hour</h6>
                    <p class="det">20</p>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="details">
                    <h6 class="val">total value</h6>
                    <p class="det">550 <span>EGP</span></p>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="details">
                    <h6 class="val">total tarnsaction count</h6>
                    <p class="det">550 <span>EGP</span></p>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="details">
                    <h6 class="val">max-transaction Date-Time</h6>
                    <p class="det">8-1-2024 | 10:16 PM</p>
                </div>
            </div>
        </div>                    
    </div>

    <div class="item">
        <div class="title">
            <div class="left">
                <div class="point"></div>
                <img src="../../assets/listcomp/gas-station.png" alt="gas-station">
                <h3>station name dummy</h3>
            </div>
            <i class="icon fa-solid fa-ellipsis"></i>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="details">
                    <h6 class="val">total sales</h6>
                    <p class="det">62,721 <span>m <sup>3</sup></span></p>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="details">
                    <h6 class="val">compression state</h6>
                    <p class="det">compression</p>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="details">
                    <h6 class="val">max-transaction/hour</h6>
                    <p class="det">20</p>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="details">
                    <h6 class="val">total value</h6>
                    <p class="det">550 <span>EGP</span></p>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="details">
                    <h6 class="val">total tarnsaction count</h6>
                    <p class="det">550 <span>EGP</span></p>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="details">
                    <h6 class="val">max-transaction Date-Time</h6>
                    <p class="det">8-1-2024 | 10:16 PM</p>
                </div>
            </div>
        </div>                    
    </div>

    <div class="item">
        <div class="title">
            <div class="left">
                <div class="point"></div>
                <img src="../../assets/listcomp/gas-station.png" alt="gas-station">
                <h3>station name dummy</h3>
            </div>
            <i class="icon fa-solid fa-ellipsis"></i>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="details">
                    <h6 class="val">total sales</h6>
                    <p class="det">62,721 <span>m <sup>3</sup></span></p>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="details">
                    <h6 class="val">compression state</h6>
                    <p class="det">compression</p>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="details">
                    <h6 class="val">max-transaction/hour</h6>
                    <p class="det">20</p>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="details">
                    <h6 class="val">total value</h6>
                    <p class="det">550 <span>EGP</span></p>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="details">
                    <h6 class="val">total tarnsaction count</h6>
                    <p class="det">550 <span>EGP</span></p>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="details">
                    <h6 class="val">max-transaction Date-Time</h6>
                    <p class="det">8-1-2024 | 10:16 PM</p>
                </div>
            </div>
        </div>                    
    </div>

    <div class="item">
        <div class="title">
            <div class="left">
                <div class="point"></div>
                <img src="../../assets/listcomp/gas-station.png" alt="gas-station">
                <h3>station name dummy</h3>
            </div>
            <i class="icon fa-solid fa-ellipsis"></i>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="details">
                    <h6 class="val">total sales</h6>
                    <p class="det">62,721 <span>m <sup>3</sup></span></p>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="details">
                    <h6 class="val">compression state</h6>
                    <p class="det">compression</p>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="details">
                    <h6 class="val">max-transaction/hour</h6>
                    <p class="det">20</p>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="details">
                    <h6 class="val">total value</h6>
                    <p class="det">550 <span>EGP</span></p>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="details">
                    <h6 class="val">total tarnsaction count</h6>
                    <p class="det">550 <span>EGP</span></p>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="details">
                    <h6 class="val">max-transaction Date-Time</h6>
                    <p class="det">8-1-2024 | 10:16 PM</p>
                </div>
            </div>
        </div>                    
    </div>
</div>
