<nav class="content">
    <ul class="pms">
        <li>
            <a routerLinkActive="" ><img src="./../../../assets/navbar/PMS.png" alt="PMS"></a>
        </li>
    </ul>

    <ul class="elements">
        <li>
            <a routerLinkActive="" >
                <img src="./../../../assets/navbar/control-room.png" alt="control-room">
            </a>
        </li>
        <li>
            <a routerLinkActive="" >
                <img src="./../../../assets/navbar/dashboard.png" alt="dashboard">
            </a>
        </li>
        <li>
            <a routerLinkActive="" >
                <img src="./../../../assets/navbar/elemnts.png" alt="elemnts">
            </a>
        </li>
        <li>
            <a routerLinkActive="" >
                <img src="./../../../assets/navbar/settings.png" alt="settings">
            </a>
        </li>
        <li>
            <a routerLinkActive="" >
                <img src="./../../../assets/navbar/notifications.png" alt="settings">
            </a>
        </li>

    </ul>

    <ul class="logout">
        <li>
            <a routerLinkActive="" >
                <img src="./../../../assets/navbar/logout.png" alt="logout">
            </a>
        </li>
    </ul>
</nav>
